<div class="option-input-container" [ngClass]="isChecked ? 'optionChecked': 'optionNotChecked'">
  <div class="top-container">
    <h4 class="input-heading">{{criteria}}</h4>
    <mat-slide-toggle [(ngModel)]="isChecked" class="slider-toggle" (click)="onSlideToggle()"></mat-slide-toggle>
  </div>
  <p>0 indicating no {{criteria}} and
      5 indicates maximum {{criteria}}</p>
  <div class="option-buttons">
      <button
        [ngClass]="selectedOption === '0' ? 'selected': ''"
        (click)="onOptionSelect('0')"
        [disabled]="!isChecked"
      >0</button>
      <button
        [ngClass]="selectedOption === '1' ? 'selected': ''"
        (click)="onOptionSelect('1')"
        [disabled]="!isChecked"
      >1</button>
      <button
        [ngClass]="selectedOption === '2' ? 'selected': ''"
        (click)="onOptionSelect('2')"
        [disabled]="!isChecked"
      >2</button>
      <button
        [ngClass]="selectedOption === '3' ? 'selected': ''"
        (click)="onOptionSelect('3')"
        [disabled]="!isChecked"
      >3</button>
      <button
        [ngClass]="selectedOption === '4' ? 'selected': ''"
        (click)="onOptionSelect('4')"
        [disabled]="!isChecked"
      >4</button>
      <button
        [ngClass]="selectedOption === '5' ? 'selected': ''"
        (click)="onOptionSelect('5')"
        [disabled]="!isChecked"
      >5</button>
  </div>
</div>
