<div class="range-input-container">
    <h4 class="input-heading">{{criteria}}</h4>
    <div class="slider-container">
      <mat-slider min="200" max="500">
        <input value="300" matSliderStartThumb>
        <input value="400" matSliderEndThumb>
      </mat-slider>
    </div>
    <div class="input-values-container">
        <div class="value-container">
            <p>Min:<span class="min-value"></span></p>
        </div>
        <p>To</p>
        <div class="value-container">
            <p>Max:<span class="min-value"></span></p>
        </div>
    </div>
</div>
