<div class="search-card-container">
    <div class="top">
        <div class="search-option-container">
            <h2>Search options</h2>
            <mat-radio-group aria-labelledby="Select an option"
            [(ngModel)]="searchOption">
              <mat-radio-button value="name">Breed Name</mat-radio-button>
              <mat-radio-button value="trait">Trait</mat-radio-button>
            </mat-radio-group>
        </div>
        <app-name-search *ngIf="searchOption === 'name'"></app-name-search>
        <app-trait-search *ngIf="searchOption === 'trait'"></app-trait-search>
    </div>
    <div class="bottom">
        <button (click)="onSearch()">Search</button>
    </div>
</div>
