<div class="search-card-container">
    <div class="top">
        <div class="search-option-container">
            <h2>Search options</h2>
            <div class="search-options">
                <div class="search-option">
                    <div class="radio-button"></div>
                    <div>Breed Name</div>
                </div>
                <div class="search-option">
                    <div class="radio-button"></div>
                    <div>Trait</div>
                </div>
            </div>
            <p class="option-description">Search for a dog breed to display information on it.</p>
        </div>
        <app-name-search></app-name-search>
        <app-trait-search></app-trait-search>
    </div>
    <div class="bottom">
        <button>Search</button>
    </div>
</div>
