.trait-search-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .range-inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .options-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}

@media only screen and (max-width: 500px) {
  .trait-search-container {
    .options-inputs {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
